body {
    padding: 0;
    margin:0;
    background: url(bg_pattern.jpg);
}
.row{
    display: flex;
    height: 22px;
    background: rgba(216,216,216,.6);
}
.topleft{
    display: flex;
    list-style: none;
}
.topleft >li a:before{
    content: "|";
    padding: 0 15px;
}
.topleft >li:first-child a:before{
    content: "";
    padding: 0 15px;
}

.topright{
    display: flex;
    list-style: none;
}
.topright >li a:before{
    content: "|";
    padding: 0 15px;
}

.topright >li:first-child a:before{
    content: "";
    padding: 0 15px;
}
.header{
   background: url(headerbg.png) ;
    width: 100%;
    height: 190px;
    color: #016600;
}
.header .logo {
    display: block;
    height: 90px;
    left: -1px;
    position: absolute;
    top: 30px;
    width: 514px;
}
.header .logo a {
    background: url(logo.png);
    display: block;
    height: 90px;
    text-indent: -500em;
    width: 514px;
    margin-left: 70px;
    margin-top: 10px;
}
.logo{
    margin-top: 30px;
    margin-bottom: 20px;
}
.header .cart {
    background: url(cart.png);
    color: #000;
    height: 55px;
    position: absolute;
    right: 0;
    text-indent: -500em;
    text-transform: uppercase;
    top: 20px;
    width: 55px;
    cursor: pointer;
    margin-top: 10px;
}
.cart{
    margin:30px 285px 0 0;
}

.header .search {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    height: 35px;
    position: absolute;
    right: 0;
    top: 90px;
    width: 320px;
    margin-right: 285px;
    margin-top: 38px;
}
.header .search .text {
    border: medium none;
    color: #333;
    float: left;
    padding: 2px;
    width: 317px;
    margin-top: 10px;
}
.text {
    color: #016600;
}
.header .search .submit {
    background: url(searchbg.png) no-repeat scroll center center rgba(0,0,0,0);
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -500em;
    width: 30px;
    border: none;
    margin-top: 10px;
}
#mainnav{
    background: url(menubg.png);
}

#mainnav .menumainnav{
    text-align: justify;
    height: 40px;
    line-height: 40px;
}

.menumainnav {
    list-style: none;
    display: flex;
}

#mainnav .menumainnav {
    text-align: justify;
    height: 50px;
    line-height: 40px;
}

#mainnav .menumainnav >li>a {
     color: #fff;
     display: block;
     text-decoration: none;
     text-transform: uppercase;
     text-align: center;
     font-size: 18px;
     width: 350px;
     height: 40px;
     margin-top: 5px;
 }

#mainnav .menumainnav .menumainnav-list>li>a {
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    width: 350px;
    height: 40px;
    margin-top: 5px;
}

.slider {
    width: 1000px;
    height: 237px;
}

.menumainnav-list {
    position: relative;
    display: inline-block;
}

.submenu {
    list-style: none;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.menumainnav-list:hover .submenu{
    display: block;
}

.submenu-content{
    position: relative;
    display: inline-block;
}
.submenu-content>li>a:hover .submenu-content-content {
    margin-left: 268px;
    margin-top: -52px;
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
.submenu-content-content {
    list-style: none;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.vanhocvietnam{
    background: red;
}
.submenu-content:hover .submenu-content-content{
    display: block;
}
.slideanh{
    margin-left: 250px;
}

#demo{
    width: 1600px;
    height: 250px;
}


.bienhieu {
    background: url(lbcenter.png) no-repeat;
    margin-top: 50px;
    margin-left: 600px;
    color: #f9f9f9;
    height: 100px;
}

.bienhieutrai {
    background: url(lbleft.png) no-repeat;
    margin-top: 0px;
    margin-left: -33px;
    color: #f9f9f9;
    height: 100px;
}

.bienhieuphai {
    background: url(lbright.png) no-repeat;
    margin-top: -100px;
    margin-left: 400px;
    color: #f9f9f9;
    height: 100px;
}

.bienhieu-content {
    font-size: 20px;
    margin-left: 695px;
    margin-top: -78px;
    color: #f9f9f9;
}

.giasach{
    margin-top: -225px;
    margin-left: 300px;
}

.book {
    margin-top: 70px;
}

.giasach{
    margin-top: -225px;
    margin-left: 300px;
}

.book {
    margin-top: 70px;
}

.footer {
    background: url(headerbg.png);
    width: 1686.250px;
    height: 190px;
    color: #0f5731;
    list-style: none;
    font-size: 20px;
}
.footer-menu{
    margin-top: 20px;
    margin-left: 300px;
    color: #016600;
}
.footer-menu1{
    margin-top: -124px;
    margin-left: 700px;
    color: #016600;
}

.content-info{
    text-align: center;
    color: black;
    background: url("http://nhanam.com.vn/Content/images2/menubg.png");
}
